<!-- <div class="create-pet"> -->
  <form action="/output" method="post">
    <div class="form-group">
      <label for="pet_name">Tamagotchi Name</label>
      <input id="pet_name" name="pet_name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="species">Tamagotchi Species</label>
      <select class="form-control" name="species">
        <option>Martian</option>
        <option>Plutonian</option>
        <option>Moonian</option>
        <option>Jupitorian</option>
      </select>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
  </div>
  <div class="new-pet">
    <% @all_tamagotchis.each() do |tamagotchi| %>
      <h1>Your Tamagotchi</h1>
      <h3>Name: <%= tamagotchi.name() %></h3>
      <h3>Species: <%= tamagotchi.species() %></h3>
      <h4>Food: <%= tamagotchi.food %></h4>
      <h4>Love: <%= tamagotchi.love %></h4>
      <h4>Rest: <%= tamagotchi.rest %></h4>
      <h4>Poops: <%= tamagotchi.poop %></h4>
      <form action="/interaction" method="post">
        <div class="form-group">
          <label for="interactions">Interact with your pet</label>
          <select class="form-control" name="interactions">
            <option value="feed">Feed</option>
            <option value="pet">Pet</option>
            <option value="nap">Nap</option>
            <option value="clean">Clean</option>
          </select>
        </div>
        <button type="submit" class="btn">Go</button>
      </form>
    <% end %>
  </div>
